# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Secrets & Environment variables
.env
.env.local

# Databases & local data
*.db
*.sqlite
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
